@font-face {
	font-family: 'IBM Plex Sans KR Light';
	src: url('./fonts/IBMPlexSansKR-Light.ttf') format('truetype');
}

* {
	font-family: 'IBM Plex Sans KR Light';
}

td {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

table,
td,
th {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
}

td,
th {
    padding: 4% 4%;
}

h1 {
    font-size: 30;
    text-align: center;
}

/* Mobile First */
.body {
    font-size: 10px;
}

@media (min-width: 640px) {
    .body {
        font-size: 13px;
    }
}

@media (min-width: 768px) {
    .body {
        font-size: 16px;
    }
}

@media (min-width: 1024px) {
    .body {
        font-size: 19px;
    }
}